.object-tools {
    margin-top : -4.4em
}
div#content-main form {
    padding: 1em;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    border-width: 0px 1px 1px 1px;
}
#changeform_tabs {
    background:#fff none repeat scroll 0 0;
    border-bottom:1px solid #adadad;
    float:left;
    font-size:93%;
    line-height:normal;
    width:100%;
}
#changeform_tabs div {
    float:left;
}
#menu {
    width: 99.95%;
    border-right: 1px solid #adadad;
    border-left: 1px solid #adadad;
    background:transparent url(../images/tab_grey.gif) repeat scroll left top;
}
#changeform_tabs a span {
    color:#24618E;
    display:block;
    float:left;
    padding:5px 15px 4px 6px;
    border-right: 1px solid #adadad;
/*    border-bottom: 1px solid #adadad;*/
}
#changeform_tabs a:hover span, #changeform_tabs div.selected a span {
    color:#FFFFFF;
    background:transparent url(../images/tab_blue.gif) repeat scroll right top;
}
/*
#changeform_tabs div.selected a span {
    border-bottom-color: #24618E;
}
#changeform_tabs a:hover span {
    border-bottom-color: #E66722;
}*/

